#AuthPage {
  display: flex;
  align-items: stretch;
  height: 100vh;

  aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 7;

    padding: 120px 80px;

    background-color: var(--primaryColor);
    color: white;

    img {
      max-width: 320px;
    }

    strong {
      margin-top: 16px;

      font-weight: 700;
      font-size: 36px;
      font-family: "Ubuntu", sans-serif;
      line-height: 42px;
    }

    p {
      margin-top: 16px;

      font-size: 24px;
      line-height: 32px;
      color: var(--textWhiteColor);
    }
  }

  main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 8;

    padding: 0 32px;
  }

  .MainContent {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 320px;
    align-items: stretch;
    text-align: center;

    > img {
      align-items: center;
    }

    h2 {
      font-size: 24px;
      margin: 64px 0 24px;
      font-family: "Ubuntu", sans-serif;
    }

    form {
      input {
        height: 50px;
        border-radius: 8px;
        padding: 0 16px;
        background-color: white;
        border: 1px solid var(--grayColor);
      }

      button {
        margin-top: 16px;
      }

      button,
      input {
        width: 100%;
      }
    }

    p {
      font-size: 14px;
      color: var(--textGrayColor);
      margin-top: 16px;

      a {
        color: var(--secundaryColor);
      }
    }
  }
}

.CreateRoom {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 64px;
  border: 0;
  border-radius: 8px;
  font-weight: 500;

  background-color: var(--googleColor);
  color: white;
  cursor: pointer;

  img {
    margin-right: 8px;
  }

  &:hover {
    background-color: var(--googleColorHover);
  }
}

.Separator {
  font-size: 16px;
  color: var(--grayColor);

  margin: 32px 0;
  display: flex;
  align-items: center;

  &::before {
    content: " ";
    flex: 1;
    height: 1px;
    background-color: var(--grayColor);
    margin-right: 16px;
  }

  &::after {
    content: " ";
    flex: 1;
    height: 1px;
    background-color: var(--grayColor);
    margin-left: 16px;
  }
}

